* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	display: none;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Rubik", sans-serif;
	background-color: #fff;
}
#app {
	max-width: 1236px;
	position: relative;
	margin: 0 auto;
	background: var(--accent-color);
}
:root {
	--primary-color: #176b87;
	--secondary-color: #86b6f6;
	--tersiary-color: #b4d4ff;
	--accent-color: #eef5ff;
	--black: #333;
	--white: var(--accent-color);
}
